RewriteEngine On
RewriteBase /admin/

# Route everything inside /admin to admin/index.php unless the file/folder exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php [L]
